* {
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    background: black;
    float: left;
    width: 100%;
}

@font-face {
    font-family: 'penStandard';
	src: url('PenStandard-Angry.otf'); 
	src: 
		local('PenStandard-Angry'),
		local('PenStandard Angry'),
		url('PenStandard-Angry.otf') 
		format('opentype');
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

.speech {
    font-family: 'penStandard', sans-serif;
    font-size: 50px;
    font-size: 4vw;
	
}