@font-face {
    font-family: 'penStandard';
	src: url('PenStandard-Angry.otf'); 
	src: 
		local('PenStandard-Angry'),
		local('PenStandard Angry'),
		url('PenStandard-Angry.otf') 
		format('opentype');
}

speech {
    font-family: 'penStandard', sans-serif;
    font-size: 50px;
    font-size: 4vw;
}